<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
    <link rel="stylesheet" href="/static/css/style.css?<?=time()?>">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.js"></script>
</head>
<body>
    <h1>Welcome to my semantic search engine</h1>
    <h3>Upload file to search</h3>
        <form action="/upload" method="post" class="dropzone" id="my-dropzone"></form>
    <h3>Search</h3>
    <input id="messageInput" type="text">
    <button id="sendButton">Send</button>
    <div id="messages"></div>
    <script src="/static/js/main.js"></script>
</body>
</html>